fastapi==0.110.0
uvicorn[standard]==0.29.0

pydantic==2.6.4

python-multipart==0.0.9

pdfminer.six==20231228
pypdf==4.2.0

spacy==3.7.4
spacy-lookups-data==1.0.5

sentence-transformers==2.5.1
torch==2.2.0

transformers==4.39.3

faiss-cpu==1.7.4

scikit-learn==1.4.2
numpy==1.26.4
pandas==2.2.1

python-dotenv==1.0.1
groq
python-dotenv
